Node-red-flow-WA-Facebook-Chatfuel.json
[{"id":"ac208b08.80a9e8","type":"http in","z":"776f3880.0270b8","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":80,"y":43,"wires":[["815f3cd4.b572a"]]},{"id":"815f3cd4.b572a","type":"change","z":"776f3880.0270b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"req.query.usuario","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":204,"y":110,"wires":[["8dff1fdc.9c039"]]},{"id":"6e936870.becbe8","type":"watson-conversation-v1","z":"776f3880.0270b8","name":"","workspaceid":"45d04fe2-f92f-43f4-a168-0e7116383694","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":531,"y":244,"wires":[["b96385a8.aee018","ce50893f.820158"]]},{"id":"b96385a8.aee018","type":"function","z":"776f3880.0270b8","name":"Formata respostas","func":"resposta = [];\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    resposta[x] = {\"text\":msg.payload.output.text[x]};\n}\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":176,"wires":[["9205e307.3d93e"]]},{"id":"9205e307.3d93e","type":"http response","z":"776f3880.0270b8","name":"","statusCode":"","headers":{},"x":799,"y":50,"wires":[]},{"id":"ce50893f.820158","type":"debug","z":"776f3880.0270b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":709,"y":308,"wires":[]},{"id":"8dff1fdc.9c039","type":"function","z":"776f3880.0270b8","name":"Adiciona variáveis ao WA","func":"msg.additional_context = \n{\"nome\":msg.req.query.nome,\n\"sobrenome\":msg.req.query.sobrenome};\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":175,"wires":[["6e936870.becbe8"]]}]